In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

%config InlineBackend.figure_format = 'retina'
plt.rcParams['figure.figsize'] = [12, 6]

In [2]:
data_path = "../data/origineel"

if not Path(data_path).is_dir():
    raise Warning("Data path does not exist")

In [3]:
data_path

'../data/origineel'

In [4]:
data_file_paths = [p for p in Path(data_path).iterdir() if p.suffix==".csv"]

In [7]:
cableconfig = pd.read_csv(data_file_paths[0], sep=";")
partialdischarges = pd.read_csv(data_file_paths[1], sep=";")
warning = pd.read_csv(data_file_paths[2], sep=";")

In [23]:
partialdischarges

            Date/time (UTC)  Location in meters (m)  Charge (picocoulomb)
0       2016-08-03 09:00:00                     NaN                   NaN
1       2016-08-03 09:01:00                     NaN                   NaN
2       2016-08-03 09:02:00                     NaN                   NaN
3       2016-08-03 09:04:00                     NaN                   NaN
4       2016-08-03 09:05:00                     NaN                   NaN
5       2016-08-03 09:06:00                     NaN                   NaN
6       2016-08-03 09:07:00                     NaN                   NaN
7       2016-08-03 09:08:00                     NaN                   NaN
8       2016-08-03 09:09:00                     NaN                   NaN
9       2016-08-03 09:10:00                     NaN                   NaN
10      2016-08-03 09:11:00             1308.770571                1891.5
11      2016-08-03 09:12:00                     NaN                   NaN
12      2016-08-03 09:13:00                     NaN                   NaN
13      2016-08-03 09:14:00                     NaN                   NaN
14      2016-08-03 09:15:00                     NaN                   NaN
15      2016-08-03 09:17:00                     NaN                   NaN
16      2016-08-03 09:18:00                     NaN                   NaN
17      2016-08-03 09:19:00                     NaN                   NaN
18      2016-08-03 09:20:00                     NaN                   NaN
19      2016-08-03 09:21:00                     NaN                   NaN
20      2016-08-03 09:22:00                     NaN                   NaN
21      2016-08-03 09:23:00                     NaN                   NaN
22      2016-08-03 09:24:00                     NaN                   NaN
23      2016-08-03 09:25:00                     NaN                   NaN
24      2016-08-03 09:26:00                     NaN                   NaN
25      2016-08-03 09:27:00                     NaN                   NaN
26      2016-08-03 09:28:00                     NaN                   NaN
27      2016-08-03 09:29:00                     NaN                   NaN
28      2016-08-03 09:31:00                     NaN                   NaN
29      2016-08-03 09:32:00                     NaN                   NaN
...                     ...                     ...                   ...
249051  2017-01-26 09:13:00             1305.926970                8948.5
249052  2017-01-26 09:14:00             1304.445845                9250.0
249053  2017-01-26 09:14:00             1307.408094               10965.5
249054  2017-01-26 09:15:00             1300.002471               15710.5
249055  2017-01-26 09:16:00                     NaN                   NaN
249056  2017-01-26 09:17:00             1302.964721                8052.0
249057  2017-01-26 09:17:00             1307.408094                7578.0
249058  2017-01-26 09:18:00             1304.445845                8486.0
249059  2017-01-26 09:19:00                     NaN                   NaN
249060  2017-01-26 09:20:00                     NaN                   NaN
249061  2017-01-26 09:21:00                     NaN                   NaN
249062  2017-01-26 09:22:00                     NaN                   NaN
249063  2017-01-26 09:23:00                     NaN                   NaN
249064  2017-01-26 09:24:00             1300.002471               10537.5
249065  2017-01-26 09:25:00             1305.926970                7733.0
249066  2017-01-26 09:25:00             1311.851468                4202.0
249067  2017-01-26 09:26:00                     NaN                   NaN
249068  2017-01-26 09:27:00                     NaN                   NaN
249069  2017-01-26 09:28:00             1310.370344                6070.5
249070  2017-01-26 09:29:00             1313.332593                4924.0
249071  2017-01-26 09:30:00                     NaN                   NaN
249072  2017-01-26 09:31:00             1311.851468                5041.0
249073  2017-01-26 09:32:00             1304.445845               10832.0
249074  2017-01-26 09:33:00                     NaN                   NaN
249075  2017-01-26 09:34:00                     NaN                   NaN
249076  2017-01-26 09:35:00             1314.813718                8463.0
249077  2017-01-26 09:36:00                     NaN                   NaN
249078  2017-01-26 09:37:00             1302.964721               12177.5
249079  2017-01-26 09:38:00             1304.445845                9327.5
249080  2017-01-26 09:39:00                     NaN                   NaN

[249081 rows x 3 columns]

In [21]:
# Namen van de kolommen
time_col, location_col, charge_col = partialdischarges.columns

# Check that each row either has location and charge undefinied, or both defined:
for i in np.arange(len(partialdischarges))[np.isnan(partialdischarges[location_col]) != np.isnan(partialdischarges[charge_col])]:
    raise Warning(f"Row {i} has missing values")

# Lijst met bools die aangeeft of er op dat tijdstip een PD was
pd_occured = ~np.isnan(partialdischarges[location_col])

# De drie kolommen; alleen op tijdstippen met PD
locations = partialdischarges[location_col][pd_occured]
charges = partialdischarges[charge_col][pd_occured]
times = partialdischarges[time_col][pd_occured].apply(datetime.datetime.fromisoformat)

In [37]:
locations

10        1308.770571
236       1316.173112
357       1301.368029
567       1314.692604
600        816.713966
601        819.674982
602        815.233458
603        818.194474
604        815.233458
605        815.233458
606        813.030000
607        816.713966
608        816.713966
609        813.030000
610        819.674982
611        802.695122
612        818.194474
613        821.155491
614        813.030000
615        813.030000
616        827.077524
617        630.650542
618        824.116507
619        864.090231
627       1313.212095
745        841.882607
1065      1310.251079
1105       584.754785
1106       816.713966
1107       821.155491
             ...
249015    1300.002471
249018    1295.559097
249019    1302.964721
249027    1304.445845
249028    1300.002471
249029    1298.521347
249034    1302.964721
249039    1314.813718
249041    1311.851468
249045    1310.370344
249048    1308.889219
249049    1307.408094
249050    1311.851468
249051    1305.926970
249052    1304.445845
249053    1307.408094
249054    1300.002471
249056    1302.964721
249057    1307.408094
249058    1304.445845
249064    1300.002471
249065    1305.926970
249066    1311.851468
249069    1310.370344
249070    1313.332593
249072    1311.851468
249073    1304.445845
249076    1314.813718
249078    1302.964721
249079    1304.445845
Name: Location in meters (m), Length: 22140, dtype: float64

In [ ]:
def distance(x,y):
    return abs(x-y)

def neighbors(DB, distfunc, Q, eps):
    neighborhood=[]
    for P in DB: 
        if distance(Q,P)<eps:
            neighborhood.append(P)
    return neighborhood

def DBSCAN(DB, distfunc, eps, minPts):
    C = []
    noise = []
    undefined = []
    for p in DB:
        undefined.append(p)
    for p in DB:
        if p not in undefined:
            continue
        N = neighbors(DB, distfunc, p, eps)
        if len(N) < minPts:
            noise.append(p)
            undefined.remove(p)
            continue
        C.append(p)
        undefined.remove(p)
        S = N
        S.remove(p)
        for q in S:
            if q in noise:
                noise.remove(q)
                C.append(q)
            if q not in undefined:
                continue
            C.append(q)
            undefined.remove(q)
            N = neighbors(DB, distfunc, q, eps)
            if len(N) > minPts:
                S = list(set().union(S,N))
        print(sum(C)/len(C))
        print("This is a cluster")
        C = []
    print(noise) 
    print("This is noise")

In [ ]:
DBSCAN(locations, distance, 10, 10)

1308.787313988871
This is a cluster